// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------



/// setting up box model for root element

html {
    box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
    line-height: 1.6;
    font-size: 14px;
    background: $base-color;
    color: $light-grey;
}


/**
 * Basic styles for links
 */
a {
    color: $white-color;
    text-decoration: none;
  
    @include on-event {
        color: $primary-color;
        text-decoration: none;
    }
}


/**
    * Rest margin for heading tags
**/
h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}


/**
    *  Reset margins for paragraphs
**/
p {
    margin-top: 0;
    margin-bottom: .5rem;
}


/**
    *  Reset padding, margin and list-style for unordered list
**/

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}