// -----------------------------------------------------------------------------
// This file contains all basic styles .content wrapper
// -----------------------------------------------------------------------------


.content {

    .heading {
        margin-bottom: 1rem;

        h1 {
            font-size: 1.7rem;
            color: $white-color;
        }
    }
}